.header {
  display: flex;
  justify-content: center;
  border: 3px solid rgba(128, 128, 128, 0.708);
  box-shadow: 5px 5px 15px 5px #000000;
  color: rgba(74, 73, 73, 0.878);
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  border: 3px solid rgba(1, 1, 1, 0.653);
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.question {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  text-align: center;
  align-self: center;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
